body {
	margin: 0 125px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#navbar {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	align-items: top;
	height: 60px;
	margin-top: 1em;
}

#yahoo {
	max-width: 200px;
	height: auto;
	left: 0;
	margin-top: 2px;
	z-index: -1;
}

#searchbar {
	margin-left: 1em;
	line-height: 50px;
}


#searchbar {
	display: flex;
	align-items: center;
}

#searchfield {
	width: 40em;
	height: 3em;
	border: solid 1px lightgray;
	border-radius: 3px;
}

#searchbutton {
	height: 3em;
	width: 6em;
	background: #0f69ff;
	color: white;
	border: none;
}

#searchbutton i {
	font-size: 26px;
}

#navlinks {
	list-style: none;
	display: flex;
	justify-content: center;
}

#navlinks li {
	margin-left: 1em;
	font-size: 14px;
	font-weight: 700;
}

#signin {
	border: 2px solid #4d00ae;
	border-radius: 3px;
	padding: 5px 10px;
}

#signin:hover {
	color: white;
	background: #4d00ae;
}

#navlinks li a {
	text-decoration: none;
	color: #4d00ae;
}


#linksul {
	list-style: none;
	display: flex;
	font-size: 14px;
	padding-left: 0;
	margin-bottom: 30px;
}

#linksul li {
	margin-right: 1em;
}

#linksul a {
	color: #4d00ae;
	text-decoration: none;
	font-weight: 700;
}
	
#mainstory {
	display: flex;
	
}

#mainstory1 {
	height: 289.27px;
	width: 536.8px;
	background-image: url(https://images.unsplash.com/photo-1476460632401-ac176d6ff302?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#mainstory2 {
	height: 289.26px;
	width: 352px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 2em 2em;
	background: darkgray;
	box-sizing: border-box;
	color: white;
	
}

#substories {
	display: flex;
}

#substories div {
	width: 168.8px;
	height: 79.43px;
	margin: 10px 10px 5px 0;
	border: 0.1px solid black;
	border-radius: 2px;
}

#substories a {
	text-decoration: none;
	color: darkblue;
	font-size: 12px;
	font-weight: bold;
	width: 168.8px;
	
}

#img1 {
	background-image: url(https://images.unsplash.com/photo-1455885661740-29cbf08a42fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#img2 {
	background-image: url(https://images.unsplash.com/photo-1562774352-1fa96c1d1558?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

#img3 {
	background-image: url(https://images.unsplash.com/photo-1549927965-b8e5df5162d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#img4 {
	background-image: url(https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#img5 {
	background-image: url(https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	margin-right: 0;
}

#sidebar {
	position: absolute;
	left: 70%;
	top: 136.8px;
	justify-content: center;
}

#mhpbutton {
	width: 300px;
	height: 44px;
	color: #4d00ae;
	background: white;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-weight: bold;
	margin-bottom: 10px;
}

#mhpbutton:hover {
	background: #4d00ae;
	color: white;
	cursor: pointer;
}

#trending h2 {
	font-size: 15px;
}

#trendingol {
	column-count: 2;
	padding-left: 20px;
}

#trendingol li {
	padding-top: 8px;
}

#trendingol a {
	text-decoration: none;
	color: darkblue;
	font-size: 13px;
	font-weight: bold;
}