body {
	margin: 0 125px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#navbar {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	align-items: top;
	height: 60px;
	margin-top: 1em;
}

#yahoo {
	max-width: 200px;
	height: auto;
	left: 0;
	margin-top: 2px;
	z-index: -1;
}

#searchbar {
	margin-left: 1em;
	line-height: 50px;
}


#searchbar {
	display: flex;
	align-items: center;
}

#searchfield {
	width: 40em;
	height: 3em;
	border: solid 1px lightgray;
	border-radius: 3px;
}

#searchbutton {
	height: 3em;
	width: 6em;
	background: #0f69ff;
	color: white;
	border: none;
}

#searchbutton i {
	font-size: 26px;
}

#navlinks {
	list-style: none;
	display: flex;
	justify-content: center;
}

#navlinks li {
	margin-left: 1em;
	font-size: 14px;
	font-weight: 700;
}

#signin {
	border: 2px solid #4d00ae;
	border-radius: 3px;
	padding: 5px 10px;
}

#navlinks li a {
	text-decoration: none;
	color: #4d00ae;
}


#linksul {
	list-style: none;
	display: flex;
	font-size: 14px;
	padding-left: 0;
}

#linksul li {
	margin-right: 1em;
}

#linksul a {
	color: #4d00ae;
	text-decoration: none;
	font-weight: 700;
}
	
#mainstory {
	display: flex;
	
}

#mainstory1 {
	height: 289.27px;
	width: 536.8px;
	background-image: url(https://images.unsplash.com/photo-1476460632401-ac176d6ff302?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#mainstory2 {
	height: 289.26px;
	width: 352px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 2em 2em;
	background: darkgray;
	box-sizing: border-box;
	color: white;
	
}